<div class="projectheader">
  <h3>Pick Up</h3>
  <span class = "projectlink"><%=link_to 'Github', "https://github.com/Juxtaposeidon/PickUp", :target => '_blank'%></span>
  <span class = "projectlink"><%=link_to 'Heroku', "http://pickuptheapp.herokuapp.com/", :target => '_blank'%></span>
</div>
<div class="projectbody">
<p>
  <b>Problem:</b> Pick up sports, defined as on-the-go activities such as outdoor tennis and basketball, can be hard to organize. People are often busy juggling their lives and sometimes have to cancel commitments at the last moment. It's even harder to put something together when you move to a new city where you don't know anyone and need help finding games.
</p>
<p>
  Pick Up was my final project at Dev Bootcamp, in which I worked in a team to develop, test, and deploy the product. The app allows people to search for nearby pick up activities and host their own for others to join. Users can both filter and search for events through a number of different criteria, and the program handles all RSVPs and email notifications.
</p>
<p>
  Pick Up was built in Rails and Javascript and features integrations with Google Maps API, Geocoder, and OAuth. A lot of challenges in building this app tied in with applying the basics of web development. Prior to constructing this app, I had learned a lot about project tracking, engineering empathy, agile development, and much, much more. Putting together the pieces of the web development stages puzzle was both rewarding and tiring at the same time.
</div>
</div>