/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0;
    padding: 0;
}
.image {
    height: 500px;
    width: 100%;
    background: #55e6c5;
    z-index: 1;
}

.content1 {
    min-height: 400px;
    width:100%;
    background: white;
    z-index: 2;
}
.content2 {
    height: 750px;
    width:100%;
    background: white;
    z-index: 2;
}
.content3 {
    height: 400px;
    width:100%;
    background: white;
    z-index: 2;
}
h1 {
    font-size: 40px;
    color: #464646;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 30px 60px;
}
p {
    color: #343434;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 30px 60px;
}
body{
  background-color: gray;
}
#wall_1 {
    background: url(image-path('ithaca.jpg')) no-repeat;
    background-attachment: fixed;
    background-position: center;


}
#wall_2 {
    background: url(image-path('magic.jpg')) no-repeat;
    background-attachment: fixed;
        background-position: center;

}
#wall_3 {
    background: url(image-path('mtgdice.jpg')) no-repeat;
    background-attachment: fixed;
        background-position: 50%;

}



#nav {
    text-align: right;
    height: 70px;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background: rgba(255,255,255,1);
    z-index: 100;
    -webkit-box-shadow:0px 0px 20px rgba(44,44,44,.3);
}
#nav #logo {
    height: 40px;
    width: 170px;
    position: absolute;
    top: 0;
    bottom:0;
    margin: auto 100px;
}

#nav #logo img {
    height: 100%;
    width: 100%;

}

#content_1 {position: relative;}

h1::first-letter {
    font-size: 60px;
    font-weight: 600;
    color:#3cb0f8;
}
.contactimg{
  margin:10px;
  width:40px;
  height:auto;
}

ul{
  white-space: nowrap;
}
header{
  padding: 10px;
  height:120px;
  border-bottom: #D3D3D3 3px solid;
  font-size: 1.15em;
  display: flex;
  justify-content: space-between;
}

.navholder{
  width:50%;
  display:table-cell;
  vertical-align:middle;
  float:right;
}

.icon{
  display:table-cell;
  padding-left:20px;
  float:left;
  min-width: 200px;
}

.icon img{
  height:70px;
  width:auto;
}

.name{
  font-size: 1.2em;
  font-family: verdana;
}

.mainimage{
  height:250px;
  width:auto;
  display:inline-block;
  margin:10px;
}

#imagegrid{
  margin-top:20px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.placeholder{
  height:250px;
  width:250px;
  display:inline-block;
  vertical-align:top;
  margin:10px;
}

.overlay{
  display: block;
  position: absolute;
  background-color: rgba(0, 128, 128, 0.5);
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
}

#aboutpage{
  text-align:center;
  width: 60%;
  margin-left:auto;
  margin-right:auto;
}


.contactimg{
  margin:10px;
  width:40px;
  height:auto;
}

#resumeframe{
  width:100%;
  text-align:center;
  margin-top:20px;
}