.project{
  margin: 5px;
  border: 1px solid gray;
  width:700px;
}

#projectbanners{
  width:50%;
  float:left;
}

#projecttext{
  width:400px;
  overflow:hidden;
}

.imagelabel{
  font-family: "Open Sans";
  font-size:2em;
  color: white;
  text-align:center;
  line-height: 3em;
}

#overlay .imagelabel:hover{
  cursor: pointer;
}

.projectlink{
  font-weight: bold;
}

.projectheader{
  margin-top:10px;
  text-align:center;
}

.projectheader a{
  font-size: 1.15em;
}


#pickupproj{
  display:none;
}

.projectbody{
  font-size: 1em;
}