.project {
  margin: 5px;
  border: 1px solid gray;
  width:auto;
  height:180px;
}

#projectbanners {
  width:100%;
  text-align:center;
}

.imagelabel {
  font-family: "Open Sans";
  font-size:2em;
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left:50%;
}

#overlay .imagelabel:hover {
  cursor: pointer;
}

.projectlink {
  font-weight: bold;
}

.projectheader {
  margin-top:10px;
  text-align:center;
}

.projectheader a {
  font-size: 1.15em;
}

#pickupproj {
  display:none;
}

.projectbody {
  font-size: 1em;
}